<title>new talk</title>
<form method="post" action="/new">
    <label for="secret">secret key:</label>
    <input type="text" name="secret" placeholder="leave empty if public" id="secret">
    <input required type="submit" name="send" value="new talk">
</form>